* {
    padding: 0;
    margin: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --marginBot: 20px;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 345px;
}

.main {
    width: 300px;
    background-color: var(--white);
    padding: 18px;
    border-radius: 15px;
    margin: 30px;
}

.main img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: var(--marginBot);
}
.main h1{
    font-weight: 700;
    color: var(--darkBlue);
    margin-bottom: var(--marginBot);
    font-size: 25px;
}
.main p {
    font-weight: 400;
    color: var(--grayBlue);
    font-size: 17px;
    margin-bottom: var(--marginBot);
}